node_modules
.next
dist
.env
.env.local
.env.*.local
.cache
.turbo
coverage
.DS_Store
.corepack
.home
.pnpm-home
.pnpm-store
*.tsbuildinfo
contracts/cache
contracts/artifacts
contracts/node_modules
apps/web/tsconfig.tsbuildinfo
apps/**/node_modules
packages/**/node_modules
packages/**/dist
apps/**/dist
.workmesh-dev
apps/web/.workmesh-dev
